<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>puzzle/block.png</key>
   <dict>
    <key>frame</key>
    <string>{{104,848},{65,65}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{65,65}</string>
   </dict>
   <key>puzzle/bridge.png</key>
   <dict>
    <key>frame</key>
    <string>{{2,644},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/bridge_fill_horizontal.png</key>
   <dict>
    <key>frame</key>
    <string>{{104,644},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/bridge_fill_horizontal_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{644,150},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/bridge_fill_vertical.png</key>
   <dict>
    <key>frame</key>
    <string>{{206,644},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/bridge_fill_vertical_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{644,252},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/bridge_top_horizontal.png</key>
   <dict>
    <key>frame</key>
    <string>{{308,644},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/bridge_top_horizontal_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{644,354},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/bridge_top_vertical.png</key>
   <dict>
    <key>frame</key>
    <string>{{2,746},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/bridge_top_vertical_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{104,746},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/cell_bg.png</key>
   <dict>
    <key>frame</key>
    <string>{{746,150},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/dot.png</key>
   <dict>
    <key>frame</key>
    <string>{{410,746},{80,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{80,80}</string>
   </dict>
   <key>puzzle/go_straight_direction.png</key>
   <dict>
    <key>frame</key>
    <string>{{644,558},{72,72}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{72,72}</string>
   </dict>
   <key>puzzle/puzzle_border.png</key>
   <dict>
    <key>frame</key>
    <string>{{2,2},{640,640}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{640,640}</string>
   </dict>
   <key>puzzle/segment_current.png</key>
   <dict>
    <key>frame</key>
    <string>{{410,644},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/segment_current_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{206,746},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/segment_endpoint.png</key>
   <dict>
    <key>frame</key>
    <string>{{746,252},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/segment_endpoint_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{644,456},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/segment_straight.png</key>
   <dict>
    <key>frame</key>
    <string>{{792,2},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/segment_straight_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{308,746},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/segment_turn.png</key>
   <dict>
    <key>frame</key>
    <string>{{512,644},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/segment_turn_light.png</key>
   <dict>
    <key>frame</key>
    <string>{{746,354},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/stone.png</key>
   <dict>
    <key>frame</key>
    <string>{{2,848},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>puzzle/touch_dot.png</key>
   <dict>
    <key>frame</key>
    <string>{{644,2},{146,146}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{146,146}</string>
   </dict>
   <key>puzzle/turn_direction.png</key>
   <dict>
    <key>frame</key>
    <string>{{848,150},{59,59}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false />
    <key>sourceSize</key>
    <string>{59,59}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>textureFileName</key>
   <string>puzzle.png</string>
  </dict>
 </dict>
</plist>